<div class="container p-0">
  <div class="row m-0 justify-content-center py-5">
    <div class="col-8">
      <div class="row m-0">

        <!-- cards -->
        <div *ngFor="let arrayCard of arrayCards2 ; index as i" class="col-3 p-3">
          <div class="col-10 card-stile p-2 mx-auto" [hidden]=(arrayCard.totalhide)>
            <button class="p-0 m-0" (click)="show(i)">

              <div *ngIf="card" class="container proportion m-0 py-0 px-2" [hidden]=(arrayCard.hide)>
                <div class="row m-0">
                  <div class="col-3 p-0 mr-auto">
                    <div class="col-12 px-0 text-center">
                      <span class="text-card" [ngStyle]="{'color': arrayCard.color}">{{arrayCard.number}}</span>
                    </div>
                    <div class="col-12 p-0">
                      <img src={{arrayCard.suits}} class="img-fluid" alt="Responsive image">
                    </div>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-8 p-0 ml-auto">
                    <img src={{arrayCard.suits}} class="img-fluid" alt="Responsive image">
                  </div>
                </div>
              </div>

            </button>
          </div>
        </div>
        <!-- cards -->

      </div>
    </div>

  </div>