<div class="container p-0">
  <div class="row m-0">
    <div class="col-3">
      <img src="../../../assets/img/fuegos-artificiales-2.gif" class="img-fluid" alt="Fireworks">
    </div>
    <div class="col-6 text-center">
      <p>¡Fin del juego!</p>
    </div>
    <div class="col-3">
      <img src="../../../assets/img/fuegos-artificiales-2.gif" class="img-fluid" alt="Fireworks">
    </div>
  </div>
  <div class="row m-0">
    <div class="col-3 offset-8">
      <button class="col-12" (click)="game()">Volver a jugar</button>
    </div>
  </div>
</div>